.output { /* Lägger design till displayen; färg, hur talen ska bildas, att dem ska wrapa kanten och vart siffrorna ska placeras */
    grid-column: 1 / -1;                    /*placeringen utav rutorna*/
    background-color: rgba(0, 0, 0, .75); /*Färgen på displayen, lite transparent eftersom jag vill att bakgrunden ska ses lite grann*/
    display: flex;                          
    align-items: flex-end;                  
    justify-content: space-around;          
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    outline: auto, black;
  }
  .span-xx { /* gör så classen får dubbla storleken */
    grid-column: span 2; 
  }
  
  body { /* Placerar vart calculatorn ska vara på sidan och hur bakgrunden ska se ut + fonten på display */
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    background-image: linear-gradient(to right, rgb(85, 5, 5), red,orange,green, rgb(22, 110, 22),blue, rgb(5, 5, 46));
  
  } /* Vart siffrorna ska placeras och storleken på dessa knappar */
  .calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(80px, auto) repeat(5, 100px);
  }
  
  .calculator-grid > button:hover { /* knappen blir vit fast med mindre transparent/ blir vitare */
    background-color: rgba(255, 255, 255, .9);
  }
  
  .calculator-grid > button { /* Musen pekar, storleken på siffrorna och skapar en ram runt siffrorna */
    cursor: pointer; /*Musen blir en pekande ikon */
    font-size: 2rem; /* storleken på siffrorna*/
    border: 1px solid, black; /* skapar ramen och färgar den */
    outline: auto, black; /* gör "outlinen" på ramen */
    background-color: rgba(255, 255, 255, .75); /* bakgrundsfärg i knappen */
  }
  
  .output .previous-operand { /* Ändrar textsorlek och färg i "kom ihåg" fältet*/
    color: rgba(255, 255, 255, .75); 
    font-size: 1.5rem;
  }
  
  .output .current-operand { /* samma som förra, fast för fältet där du matar in värden */
    color: white;
    font-size: 2.5rem;
  }
