* {                                       /* Sätter standardvärden */
    margin: 0;
    padding: 0;
    text-decoration: none;
    background:none;
    color: white;
}

#navbar {
    background-color: #1F2124;
    position: fixed; 
    left: 0px;
    right: 80%;
    bottom: 0px;
    top: 0px;
  }

#logo {
    
    font-family: 'Rock Salt';
    font-size: 30px;
    align-content: center;
    text-align: center;
    padding-top: 0px;
    margin: 10px;
    color: white;
    letter-spacing: -3.2px;
    
  
}

#L {
    margin-top: -30px;
    font-size: 20px;
    letter-spacing: 0px;
    
    
}

#meny{
    padding: 0px;
    margin: 20px;
    display: flex;
    font-family: 'Permanent Marker';
    flex-direction: column;
    font-size: 30px;
    color: rgba(255, 255, 255,);
}

a{
    color: rgba(255, 255, 255, 0.404);
    letter-spacing: 3px;
}

a:hover{
    color:white;
    text-decoration: underline;
    
    
}

#media{
    padding-top: 50px;
}

.fa {
    padding: 20px;
    margin: 0px;
    width: 14%;
    text-align: center;
    text-decoration: none;
    border-style: inset;
    background: none;
    

    
  }
  
  .fa:hover {
    opacity: 0.7;
    background-color: rgba(255, 255, 255, 0.13);
}

.fa-instagram {
    margin-left: 3px;
    color: white;
}

.fa-snapchat-ghost {
    
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-facebook {
    margin-right: 3px;
    color: white;
}

#bild {
  position: fixed;
  height: 600px;
  width: 80%;
  right: 0px;
  top: 0px;
  background-color: red;
  margin: auto;
} 

#text {
    position: fixed;
    text-align: center;
    background-color: blue;
    margin: 3px;
    padding: 5px;
    width: 40%;
    height: 200px;
}